 @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  background-color: rgb(19, 7, 60);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 0;
}
form{
  position: relative;
  top: 1.5rem;
}
h1{
  position: relative;
  top: 1.5rem;
  color: white;
}
.photos{
  position: relative;
  top: 1.5rem;
}